# 1. Python & pandas

This JupyterNotebook is part of an exercise series titled *Python & pandas*.\
The series itself includes practical introductions to *Python* and *pandas*. 

This exercise series is divided into two parts:

- **1.1.** [Brief Introductions to Python](./1.1-Python.ipynb) (*other notebook*)
- **1.2.** Brief Introduction to pandas (*this notebook*)
    - **1.2.1.** [Central Data Structures: Series and DataFrame](#1.2.1.-Central-Data-Structures:-Series-and-DataFrame)
        - **1.2.1.1.** [Object Creation](#1.2.1.1.-Object-Creation)
        - **1.2.1.2.** [Accessing First or Last Rows of a DataFrame](#1.2.1.2.-Accessing-First-or-Last-Rows-of-a-DataFrame)
        - **1.2.1.3.** [Get Number of Rows and Columns](#1.2.1.3.-Get-Number-of-Rows-and-Columns)
        - **1.2.1.4.** [Get Number of Cells in a DataFrame or Series](#1.2.1.4.-Get-Number-of-Cells-in-a-DataFrame-or-Series)
        - **1.2.1.5.** [Get Memory Consumption in Bytes](#1.2.1.5.-Get-Memory-Consumption-in-Bytes)
        - **1.2.1.6.** [Get Useful DataFrame Information](#1.2.1.6.-Get-Useful-DataFrame-Information)
    - **1.2.2.** [Indexing and Selection](#1.2.2.-Indexing-and-Selection)
        - **1.2.2.1.** [Access Specific Columns](#1.2.2.1.-Access-Specific-Columns)
        - **1.2.2.2.** [Label-based vs. Integer-based Indexing](#1.2.2.2.-Label-based-vs.-Integer-based-Indexing)
    - **1.2.3.** [Sort a `DataFrame` by Index or Column](#1.2.3.-Sort-a-DataFrame-by-Index-or-Column)
        - **1.2.3.1.** [Sort By Index](#1.2.3.1.-Sort-By-Index)
        - **1.2.3.2.** [Sort by Column](#1.2.3.2.-Sort-by-Column)
    - **1.2.4.** [Statistics, Aggregation, and Groups](#1.2.4.-Statistics,-Aggregation,-and-Groups)
    - **1.2.5.** [Content Modification](#1.2.5.-Content-Modification)
        - **1.2.5.1.** [Add a New Row or Column](#1.2.5.1.-Add-a-New-Row-or-Column)
        - **1.2.5.2.** [Modify a Specific Cell or Multiple Cells](#1.2.5.2.-Modify-a-Specific-Cell-or-Multiple-Cells)
        - **1.2.5.3.** [Delete Row or Column](#1.2.5.3.-Delete-Row-or-Column)
        - **1.2.5.4.** [Merge or Join Two `DataFrame`s](#1.2.5.4.-Merge-or-Join-Two-DataFrames)
        - **1.2.5.5.** [Concatenate Two or More `DataFrame`s](#1.2.5.5.-Concatenate-Two-or-More-DataFrames)
    - **1.2.6.** [Data Cleaning Operations](#1.2.6.-Data-Cleaning-Operations)
    - **1.2.7.** [Read and Write Data](#1.2.7.-Read-and-Write-Data)
    - **1.2.8.** [Database Access](#1.2.8.-Database-Access)
    - **1.2.9.** [What's More?](#1.2.9.-What's-More?)

This exercise series is optional and is especially recommended for students who have little to no experience with *Python* and/or *pandas*.\
If this resonates with you, please execute the individual code segments one by one and try to understand their functionality.\
In this notebook there are also some tasks that you can be used to test your proficiency.

<div class="alert alert-block alert-warning">

**Important:**
    
There is no exercise session for this exercise series. If you have questions about individual code segments/tasks, please post them on the StudOn forum.
    
</div>

# 1.2. Brief Introduction to pandas

pandas is an open-source library providing intuitive data structures for data analysis, data transformation, cleaning, and, with the help of matplotlib, simple data visualizations.

Most pandas' functionality is based on the numpy library, which is a optimized library providing efficient data structures and mathematical functions.

Note that this JupyterNotebook merely gives an overview and is by no means complete. Yet, this notebook introduces pandas' central data structures (Series and DataFrame), how to index and select data from a DataFrame, as well as operations for data cleaning, sorting, aggregating, and grouping data.
For detailed explanations and further topics like time series and date functionality refer to the extensive [user guide](https://pandas.pydata.org/docs/user_guide/index.html) and [API](https://pandas.pydata.org/docs/reference/index.html).

To use pandas simply import it like in the following code cell. Typically, this library is aliased with `pd`. It became the de-facto standard to import it with this alias.

In [ ]:
import pandas as pd

## 1.2.1. Central Data Structures: Series and DataFrame

pandas represents data in a table format called `DataFrame` in which every column represents a `Series`. A `Series` holds data of a specific type such as String or integer. Under the hood, a `Series` is nothing more than a one-dimensional numpy array with a heading (column name). In this way, a `DataFrame` is a table with several columns (`Series`) that has column names. 

![DataFrame](img/01_table_dataframe.svg)

<div class="alert alert-danger" role="alert">

**Difference: pandas vs. numpy**

- pandas may have trouble with extremely large DataFrames. It becomes sluggish and slow compared to numpy arrays.
- pandas `DataFrame`s hold tabular data of mixed types, whereas numpy arrays do not support mixed types.    
- numpy arrays are different to Python lists. A numpy array can only hold values of the same type whereas a Python list can hold mixed data types.
- numpy arrays are optimized and thus consume less (memory) storage.
- numpy library is written in C and provides an API for Python. Thus, code is already compiled which makes access and computations faster. Python code is merely interpreted and thus slower.
- Mathematical operations on numpy arrays behave just like mathematical operations on matrices and vectors (e. g. multiplication, addition).
- numpy provides more or less the same functionality as pandas.

</div>

### 1.2.1.1. Object Creation

Different ways exist to create a pandas `DataFrame`. These include, for instance, creation from a list, numpy array, dictionary and list of dictionaries.

1. `DataFrame` Creation From a List

In [ ]:
df = pd.DataFrame(
    data=[
        [1, "Course Introduction", True],
        [2, "KDD Introduction", True],
        [3, "Getting To Know Your Data", False],
        [4, "Data Preprocessing", False],
        [5, "OLAP", False],
        [6, "Frequent Pattern", False],
        [7, "Classification", False],
        [8, "Cluster", False],
        [9, "Outlier", False],
    ]
)
df

2. `DataFrame` Creation From a Dictionary

In [ ]:
df = pd.DataFrame(
    data={
        "Number": [1, 2, 3, 4, 5, 6, 7, 8, 9],
        "Lecture Name": [
            "Course Introduction",
            "KDD Introduction",
            "Getting To Know Your Data",
            "Data Preprocessing",
            "OLAP",
            "Frequent Pattern",
            "Classification",
            "Cluster",
            "Outlier",
        ],
        "Done": [True, True, False, False, False, False, False, False, False],
    }
)
df

Another way of creating a `DataFrame` from a dictionary:

In [ ]:
df = pd.DataFrame(
    data=[
        {"Number": 1, "Lecture Name": "Course Introduction", "Done": True},
        {
            "Number": 2,
            "Lecture Name": "KDD Introduction",
            "Done": True,
        },
        {
            "Number": 3,
            "Lecture Name": "Getting To Know Your Data",
            "Done": False,
        },
        {
            "Number": 4,
            "Lecture Name": "Data Preprocessing",
            "Done": False,
        },
        {
            "Number": 5,
            "Lecture Name": "OLAP",
            "Done": False,
        },
        {
            "Number": 6,
            "Lecture Name": "Frequent Pattern",
            "Done": False,
        },
        {
            "Number": 7,
            "Lecture Name": "Classification",
            "Done": False,
        },
        {
            "Number": 8,
            "Lecture Name": "Cluster",
            "Done": False,
        },
        {
            "Number": 9,
            "Lecture Name": "Outlier",
            "Done": False,
        },
    ]
)
df

In [ ]:
# we copy this DataFrame for later use
df_original = df.copy()

pandas automatically derives data types. You can view them with the function `dtypes`:

In [ ]:
df.dtypes

Note that the data type of column "Lecture Name" is of type `object`. [Documentation of `dtypes`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html) reveals that "[c]olumns with mixed types are stored with the `object` dtype". Generally, pandas has two ways to store strings: in an `object` dtype capable of holding any Python object, or `StringDtype`. It is, however, recommended to use `StringDtype` for strings. Conversion of dtype can be achieved with the function `astype`, which is available for both `DataFrame` and `Series`. 

Changing dtype of a specific column of a `DataFrame`:

In [ ]:
df = df.astype({"Lecture Name": "string"})
df.dtypes

<div class="alert alert-info" role="alert">

**Task 1**:
    
Create a pandas Series Using the Variable `lectures`.

</div>

In [ ]:
lectures = [
    "Course Introduction",
    "KDD Introduction",
    "Getting To Know Your Data",
    "Data Preprocessing",
    "OLAP",
    "Frequent Pattern",
    "Classification",
    "Cluster",
    "Outlier",
]

In [ ]:
# TODO type your solution here

In [ ]:
lecture_series = pd.Series(lectures)
lecture_series

<div class="alert alert-info" role="alert">

**Task 2:**
    
Create a pandas DataFrame Using The Created Series. 

</div>

In [ ]:
# TODO type your solution here

In [ ]:
lecture_df = pd.DataFrame(lecture_series, columns=["Lecture Name"])
lecture_df

### 1.2.1.2. Accessing First or Last Rows of a DataFrame

A `DataFrame` may hold many rows. Viewing the whole `DataFrame` at once might not always be the best idea. However, it is possible to only view the first or the last couple of rows. A default of five rows will be displayed each.

In [ ]:
df = df_original.copy()
df.head()

In [ ]:
df.head(2)

In [ ]:
df.tail()

### 1.2.1.3. Get Number of Rows and Columns

In [ ]:
df.shape

In [ ]:
print(f"Number of rows: {df.shape[0]}", f"Number of columns: {df.shape[1]}", sep="\n")

### 1.2.1.4. Get Number of Cells in a DataFrame or Series

In [ ]:
df.size

### 1.2.1.5. Get Memory Consumption in Bytes

In [ ]:
df.memory_usage()

### 1.2.1.6. Get Useful DataFrame Information

In [ ]:
df.info()

## 1.2.2. Indexing and Selection

A `DataFrame` consists of one or more columns with one or more rows. pandas provides the data type `Index` and automatically creates an row index (called `index`) and column index (called `columns`) for you when creating a `DataFrame`. Many pandas functions operate on these indices and are often refered to as `axis` where `axis=0` corresponds to columns and `axis=1`corresponds to rows.

The first example of `DataFrame` creation used a simple Python list without any column names, whereas later dictionary examples set column names based on dictionary keys. It is also possible to explicitly define column names at `DataFrame` creation with the parameter `columns`:

In [ ]:
df

Of course, indices `columns` and `index` of a `DataFrame` is accessible via their respective variable:

In [ ]:
df.columns

In [ ]:
df.index

Note that the row index (`index`) is not stored as a list but as a `RangeIndex`.

Both indices are accessible at once via `axes`:

In [ ]:
df.axes

### 1.2.2.1. Access Specific Columns

It is possible to select one or more specific columns.

In [ ]:
df["Lecture Name"]

When a column has no whitespaces it is also possible to access a column in the following way:

In [ ]:
df.Number

Select specific columns by a list of column names:

In [ ]:
df[["Number", "Lecture Name"]]

Note that selecting a single column always returns a `Series` whereas selecting multiple columns returns a `DataFrame`.

In [ ]:
type(df.Number)

In [ ]:
type(df[["Number", "Lecture Name"]])

### 1.2.2.2. Label-based vs. Integer-based Indexing

pandas provides two ways of indexing and selection: label-based and integer-based.

**Label-based Indexing** 

Label-based indexing operates using names of columns or rows. `DataFrame` provides the function `loc` that, according to documentation, primarily operates on names but also works with a boolean array.

Following inputs are allowed:
1. Single label for a single row/column.
2. List of labels for multiple rows/columns.
3. A slice object with labels for mulitple rows/columns. A pandas slice object includes both start and end lables, whereas typical Python slice objects exclude the end position/label!.
4. Boolean array for multiple rows/columns. Here, value `False` does not include a row/column.
5. A `callable` function.

Syntax for `loc` differs slightly to the usual function calls as instead of rounded brackets it expects corner brackets: `loc[row_name, col_name]`.

In [ ]:
df

Let's display the name of lecture 3:

In [ ]:
df.loc[2, "Lecture Name"]

Select multiple rows with a slice object:

In [ ]:
df.loc[2:, "Lecture Name"]

Select all lecture names that have already been held with a callable:

In [ ]:
df.loc[lambda df: df.Done, "Lecture Name"]

**Index-based Indexing** 

Index-based indexing is similar to its label-based counterpart, yet operates on integer numbers for both row and columns. 

Following inputs are allowed:
1. Single integer for row/column.
2. List of integers for mulitple rows/columns.
3. A slice object with integers for multiple rows/columns. A pandas slice object includes both start and end lables, whereas typical Python slice objects exclude the end position/label!.
4. Boolean array for multiple rows/columns. Here, value `False` does not include a row/column.
5. A `callable` function.

Index-based indexing is used with `iloc` instead of `loc`.

<div class="alert alert-info" role="alert">

**Task 3:**
    
Play with Index-based Indexing.

- Select a single cell.
- Select multiple cells.
- Select all lectures whose name contains "Introduction". Use a callable. Hint: Lambda.
    
</div>

In [ ]:
# TODO Select a single cell

In [ ]:
# Select a single cell
print(df.iloc[0, 0])
print(df.iloc[0, 1])

In [ ]:
# TODO Select multiple cells at once

In [ ]:
# Select multiple cells at once
df.iloc[:4, 1:3]

In [ ]:
# TODO Select cells with a callable

In [ ]:
# Select cells with a callable
# boolean masks only work when you discard the index and pass only the list itself:
df.iloc[lambda df: (df["Lecture Name"].str.contains("Introduction")).values, 1]

In [ ]:
(df["Lecture Name"].str.contains("Introduction")).values

In [ ]:
df.iloc[lambda df: (df.Done == False).index, 1]

## 1.2.3. Sort a `DataFrame` by Index or Column

A `DataFrame`can be sorted by its index as well as column values.

### 1.2.3.1. Sort By Index

Function `sort_index` sorts a `DataFrame` by its index alphanumerically. Following parameters are available (among others, refer to [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_index.html)):

- `axis`: Default `0`, meaning it sorts rows.
- `ascending`: Default `True`, set to `False` for descending sort.
- `inplace`: Default `False`.
- `na_position`: Default `last`. To place NaNs (Not a Number, `NULL` in SQL) first, set to `first`.
- `kind`: Sorting algorithm, default `quicksort`. Choose between: `quicksort`, `mergesort`, `heapsort`, `stable`.

In [ ]:
# let's get our untouched DataFrame
df = df_original.copy()
df

Sort descending:

In [ ]:
df.sort_index(ascending=False)

### 1.2.3.2. Sort by Column

To sort a `DataFrame` by column, use function `sort_values`. It has the following parameters (refer to [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)):
- `by`: Column name or list of column names to sort by.
- `axis`: Default `0`, meaning it sorts rows.
- `inplace`: Default `False`.
- `na_position`: Default `last`. To place NaNs (Not a Number, `NULL` in SQL) first, set to `first`.
- `kind`: Sorting algorithm, default `quicksort`. Choose between: `quicksort`, `mergesort`, `heapsort`, `stable`.
- `ignore_index`: Default `False` to retain current index. Set to `True` to generate a new index.

In [ ]:
df.sort_values(by="Lecture Name")

In [ ]:
df.sort_values(by="Lecture Name", ignore_index=True)

## 1.2.4. Statistics, Aggregation, and Groups

pandas is based on numpy and thus, provides an extensive amount of mathematical functions out of the box.

In [ ]:
from order_example import articles

articles

pandas provides functions to describe a distribution:

In [ ]:
# Mean value of column "PRICE"
articles.PRICE.mean()

In [ ]:
# Median value of column "PRICE"
articles.PRICE.median()

In [ ]:
# Max value of column "PRICE"
articles.PRICE.max()

In [ ]:
# Likewise, min value of column "PRICE"
articles.PRICE.min()

In [ ]:
# Variance of column "PRICE"
articles.PRICE.var()

In [ ]:
# Standard Deviation of column "PRICE"
articles.PRICE.std()

These statistics are automatically calculated at once by `describe`:

In [ ]:
articles.PRICE.describe()

In [ ]:
# We can also apply this function on the whole DataFrame
articles.describe()

In [ ]:
# Or transpose the output
articles.describe().transpose()

In [ ]:
# Sum of all article prices
articles.PRICE.sum()

In [ ]:
# Cummulative sum of article prices
articles.PRICE.cumsum()

In [ ]:
# Get unique values
articles.PRICE.unique()

In [ ]:
# get count of unique values
articles.PRICE.nunique()

It is also possible to calculate several functions in one statement:

In [ ]:
articles.agg({"PRICE": [min, max, "nunique", "mean"]})

In [ ]:
# We can also group by some column and apply a function based on this group
articles.groupby("TYPE").count().loc[:, "NAME"]

In [ ]:
# Get list of all article names in a group
articles.groupby("TYPE").agg({"NAME": list})

In [ ]:
# Get article names in a group as a comma separated string
articles.groupby("TYPE").agg({"NAME": ", ".join})

In [ ]:
articles.groupby("TYPE").mean().loc[:, "PRICE"]

## 1.2.5. Content Modification

More often than not it is desirable to change a `DataFrame`'s content. This could include either adding a new row/column or modify a single or multiple cells at once. Additionally, when having two `DataFrame`s it may be desireable to merge, join, or concatenate these `DataFrame`s.

Thus, we take a look at the following:

1. Add a new row/column.
2. Modify a specific cell or multiple cells.
3. Delete row or column.
4. Merge or Join two `DataFrame`s.
6. Concatenate two or more `DataFrame`s.

In [ ]:
df = df_original.copy()

### 1.2.5.1. Add a New Row or Column

Inserting new rows or columns is possible in different ways:
1. Select a row or column that does not yet exist and simply assign a value to it.
2. Insert a column at a specific position with `insert(loc, column, value)`.
3. Append new rows or columns with `concat`. Later more on this method.

Insert a new row or column by selecting an index that does not yet exist:

In [ ]:
df.columns

In [ ]:
df["Exam Relevant"] = [False] + [True] * (df.shape[0] - 1)
df

In [ ]:
df.loc[10, "Lecture Name"] = "Unnamed Lecture"
df

Add a column with `insert`:

In [ ]:
new_values = [i for i in range(42, 42 + df.shape[0])]
df.insert(0, "Better Number", new_values)
df

### 1.2.5.2. Modify a Specific Cell or Multiple Cells

Modifying cells or multiple cells at once can be achieved in various ways: 
1. using indexing (label-based or index-based), boolean masking or using a callable. For instance, set all lectures "Done" column to `True` with boolean masking:

In [ ]:
# set all values of attribute "Done" to True when False
df.loc[df["Done"] == False, "Done"] = True
df

2. `apply` is a useful function able to apply any function along an axis of a `DataFrame`.
3. `applymap` applies a function element-wise instead along an axis.

In [ ]:
df.loc[:, "Lecture Name"] = df.loc[:, "Lecture Name"].apply(str.upper)
df

It is also possible to use a custom function:

In [ ]:
import random


def get_random_weight(x):
    return (x - 1) * random.choice(range(10)) / 100


df["Imaginary Weight"] = df.loc[:, "Number"].apply(get_random_weight)
# apply(get_random_weight) is short for apply(lambda x: get_random_weight(x))
df

3. `applymap` is similar to `apply` but is applied elementwise, meaning that it is applied on all cells unlike `apply` which is applied column- or row-wise.

In [ ]:
length_of_cells = df.applymap(lambda x: len(str(x)))
length_of_cells

### 1.2.5.3. Delete Row or Column

Deleting rows or columns can be done in different ways:
1. Selecting everything you want to keep and assign it to the same variable.
2. Using function `pop`. This function removes a column from a `DataFrame` and returns the removed row/column as a `Series`.
3. Using funciton `drop` to remove a row or column.

In [ ]:
df = df.loc[df["Exam Relevant"] == True, :]
df

In [ ]:
better_numbers = df.pop("Better Number")
df

In [ ]:
better_numbers

In [ ]:
df_wo_exam_relevant = df.drop(
    labels=["Exam Relevant"],
    axis=1,  # to drop a column. To drop a row set axis=0
    inplace=False,  # No inplace drop, this returns the new DataFrame
)
df_wo_exam_relevant

### 1.2.5.4. Merge or Join Two `DataFrame`s

`merge` is a function to join two `DataFrame`s based on some keys (columns). It is similar to `JOIN` in SQL. In pandas another function exists, called `join`. The difference is the following:
- `merge` merges or "joins" two `DataFrame`s based on columns or indexes.
- `merge` can sort join keys lexicographically, add suffixes to columns in result `DataFrame`
- Per default, `join` performs a join based on two `DataFrame`s indices.
- `join` uses `merge` internally when joining/merging index-on-index or column(s)-on-index.
Thus, `join` saves typing time when you want to join or merge two `DataFrame`s by their index.

Both `merge` and `join` supports all SQL `JOIN`-operations:

| **Method** | **SQL**            | **Description**                                       |
|------------|--------------------|-------------------------------------------------------|
| `left`     | `LEFT OUTER JOIN`  | Use keys from left `DataFrame` only                   |
| `right`    | `RIGHT OUTER JOIN` | Use keys from right `DataFrame` only                  |
| `outer`    | `FULL OUTER JOIN`  | Use union of keys on both `DataFrame`s                |
| `inner`    | `INNER JOIN`       | Use intersection of keys from both `DataFrame`s       |
| `cross`    | `CROSS JOIN`       | Create cartesian product of rows of both `DataFrame`s |

In [ ]:
# reimport, in case they have been modified
from order_example import articles, customers, orders, order_positions

In [ ]:
orders

In [ ]:
order_positions

In [ ]:
customers

In [ ]:
articles

Recap:

| **Method** | **SQL**            | **Description**                                       |
|------------|--------------------|-------------------------------------------------------|
| `left`     | `LEFT OUTER JOIN`  | Use keys from left `DataFrame` only                   |
| `right`    | `RIGHT OUTER JOIN` | Use keys from right `DataFrame` only                  |
| `outer`    | `FULL OUTER JOIN`  | Use union of keys on both `DataFrame`s                |
| `inner`    | `INNER JOIN`       | Use intersection of keys from both `DataFrame`s       |
| `cross`    | `CROSS JOIN`       | Create cartesian product of rows of both `DataFrame`s |

We can easily merge/join the `DataFrame`s `orders` and `customers` to add the names to each order:

In [ ]:
pd.merge(orders, customers, on="CID")

Do we have customers that did not yet buy something?

In [ ]:
outer_join = pd.merge(orders, customers, on="CID", how="outer")
customers_no_buy = outer_join[outer_join["OID"].isnull()]
customers_no_buy[["CID", "NAME"]]

<div class="alert alert-info" role="alert">
    
**Task 4:**
    
Join `DataFrame`s `orders` and `order_position`.

</div>

In [ ]:
# TODO type your solution here

In [ ]:
orders_with_positions = pd.merge(orders, order_positions, on="OID", how="inner")
orders_with_positions.head(15)

<div class="alert alert-info" role="alert">

**Task 5:**
    
Reuse the Previous `DataFrame` and join with `articles`.

</div>

In [ ]:
# TODO type your solution here

In [ ]:
op_article = pd.merge(orders_with_positions, articles, on="AID", how="inner")
op_article.head(15)

<div class="alert alert-info" role="alert">

**Task 6:**
    
Reuse the Previous `DataFrame` to Calculate Sum of each Order.

</div>

In [ ]:
# TODO type your solution here

In [ ]:
op_article["TOTAL_PRICE"] = op_article.UNIT * op_article.PRICE
order_sums = op_article.groupby("OID").sum()
order_sums[["TOTAL_PRICE"]]

<div class="alert alert-info" role="alert">

**Task 7:**
    
Reuse the Previous `DataFrame` and Join Customers.

</div>

In [ ]:
# TODO type your solution here

In [ ]:
order_sums = pd.merge(order_sums, customers, on="CID", how="inner")
order_sums[["NAME", "TOTAL_PRICE"]]

<div class="alert alert-info" role="alert">

**Task 8:**
    
What Articles Have Not Been Sold Yet?

</div>

In [ ]:
# TODO type your solution here

In [ ]:
articles_not_sold = pd.merge(order_positions, articles, on="AID", how="right")
articles_not_sold = articles_not_sold[articles_not_sold.OID.isna()]
articles_not_sold

In [ ]:
# alternatively:
articles.loc[~articles.AID.isin(order_positions.AID.unique()), :]

In [ ]:
articles.loc[articles.AID.isin(order_positions.AID.unique()) == False, :]

<div class="alert alert-info" role="alert">

**Task 9:**
    
What Articles Have Been Sold the Most (Units)?

</div>

In [ ]:
# TODO type your solution here

In [ ]:
# reuse previous DataFrame
op_article_sums = op_article.groupby(["AID", "NAME"]).sum()
op_article_sums.sort_values(by="UNIT", ascending=False).iloc[:3, 2]

Our customers have a sweet tooth as they prefer kiwis, strawberries, and water melons.

<div class="alert alert-info" role="alert">

**Task 9:**
    
What Articles Have the Highest Revenue?

</div>

In [ ]:
# TODO type your solution here

In [ ]:
# reuse previous DataFrame
op_article_sums.sort_values(by="TOTAL_PRICE", ascending=False).iloc[:3, -1]

### 1.2.5.5. Concatenate Two or More `DataFrame`s

Concatenation of two or more `DataFrame`s can be achieved - yet again - in multiple ways. In the previous chapter, we already discussed one way of accomplishing concatenation of two `DataFrame`s by means of a cross join. Another way is the use of `concatenate` which is able to concatenate two or more `DataFrame`s column- or row-wise.

Let's prepare a function `get_df_with_random_values` and define two `DataFrame`s using this function: `df1`, and `df2`.

In [ ]:
def get_df_with_random_values(range_number=10):
    return pd.DataFrame(
        [
            [random.choice(range(range_number)) for _ in range(range_number)]
            for _ in range(range_number)
        ]
    )

In [ ]:
df1 = get_df_with_random_values()
df1

In [ ]:
df2 = get_df_with_random_values()
df2

Concatenate along columns:

In [ ]:
pd.concat([df1, df2], axis=1)

Concatenate along rows:

In [ ]:
pd.concat([df1, df2], axis=0)

## 1.2.6. Data Cleaning Operations

Pandas has means of data cleaning with functions like:
1. Finding missing values with `isna`.
2. Filling missing values with `fillna` or interpolate values with `interpolate`.
   - `fillna` supports forward and backward filling
   - `interpolate` supports various filling methods such as linear, nearest, polynomial, as well as interpolation methods from the library [SciPy](https://docs.scipy.org/doc/scipy/tutorial/interpolate.html). 
3. Drop missing values with `dropna`.
4. Return a boolean mask of duplicates with `duplicated`.
5. Drop duplicate rows with `drop_duplicates`.

In [ ]:
import numpy as np

df_mess = pd.DataFrame(
    [
        (21, 3.0, 10),
        (24, 2.0, 8),
        (21, 4.0, 12),
        (21, 2.0, 11),
        (24, 3.0, 8),
        (23, np.nan, 9),
        (21, 2.0, 8),
        (20, 1.0, 11),
        (25, 1.0, 7),
        (24, 2.0, 12),
        (23, np.nan, 8),
        (27, 3.0, 7),
        (21, 4.0, 12),
        (23, 1.0, 11),
        (20, np.nan, 7),
        (28, np.nan, 12),
        (26, 1.0, 10),
        (21, np.nan, 10),
        (20, 2.0, 9),
        (27, 4.0, 7),
    ],
    columns=list("ABC"),
)
df_mess

In [ ]:
# Count how many NaN (Not a Number) values this DataFrame has
df_mess.isna().sum()

In [ ]:
# filling
df_mess["B"].interpolate(method="linear", inplace=True)
df_mess

Let's see if there are any duplicate rows and if, which values they have. Remember, the function `duplicated` returns a boolean mask that can be used to select any rows that contains duplicates.

In [ ]:
df_mess[df_mess.duplicated()]

The function `drop_duplicates` can retain either the first or the last row of duplicates. Which to retain depends on the context at hand.  In this example, it does not matter which row to keep.

In the case, however, this example would be a time series of, let's say, temperature and some other observed signals indexed by time (imagine this index is a time step), then these *duplicates* are none.

For now, in this example let's drop duplicates:

In [ ]:
df_mess.drop_duplicates(inplace=True)
# verify duplicates have been dropped
df_mess[df_mess.duplicated()]

## 1.2.7. Read and Write Data

Up until now we pushed reading and writing data and instead created a `DataFrame` from scratch. That is, however, not feasible.

Pandas offers methods to read and write a `DataFrame` from and to various data formats. Among them are, naturally, column separated files (csv), JSON files, dictionary, string, but also SQL, pickle files, latex, and markdown.

<div class="alert alert-info" role="alert">

**Task 10:**
    
Write the `DataFrame`s of article, customer, order, and order positions to CSV files.

</div>

In [ ]:
# TODO type your solution here

In [ ]:
articles.to_csv("articles.csv", index=False)
customers.to_csv("customers.csv", index=False)
orders.to_csv("orders.csv", index=False)
order_positions.to_csv("order_positions.csv", index=False)

## 1.2.8. Database Access

With pandas and its `DataFrame` function `to_sql` it is easy to extract data from database tables or write to a table. For this, `to_sql` requires a database engine. More specifically, a database engine from `sqlalchemy`. Once established and connected to a database, tables can be created, written to, or appended. Likewise, with `from_sql` extracts data from a table and returns it as a `DataFrame`.

`sqlalchemy` is an Object Relational Mapper (ORM) that maps (Python) objects, more particularly `DataFrame`s, to tables. For a quick start in ORM in `sqlalchemy` refer to its [documentation](https://docs.sqlalchemy.org/en/14/orm/quickstart.html).

Python supports SQLite databases out of the box without any additional packages. Check out Python's [documentation](https://docs.python.org/3/library/sqlite3.html) on how to use SQLite.

Back to `sqlalchemy`:
In order to use `sqlalchemy` with pandas, we first need to import this library and then create a database engine:

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///orders.db", echo=False)

In [ ]:
articles.to_sql(name="article", con=engine, index=False)

Using Python's SQLite interface is not much different:

In [ ]:
import sqlite3

sqlite_engine = sqlite3.connect(":memory:")

With Python's internal SQLite support it is possible to create a in-memory database. You can, however, still persist your database by specifying a file name.

We can now read this table with `read_sql`. With the parameter `sql`, we can query any table, join tables as we go, or just specify one table name as a short hand for `SELECT * FROM table_name;`.

In [ ]:
# read article from database
articles_db = pd.read_sql(sql="article", con=engine)
articles_db

In [ ]:
vegetables = pd.read_sql(
    sql="SELECT * FROM article WHERE TYPE='Vegetable';", con=engine
)
vegetables

<div class="alert alert-info" role="alert">

**Task 11:**
    
Write all other `DataFrame`s to the database and access them.

</div>

In [ ]:
# TODO type your solution here

In [ ]:
customers.to_sql(name="customer", con=engine, index=False)
orders.to_sql(name="order", con=engine, index=False)
order_positions.to_sql(name="order_position", con=engine, index=False)

In [ ]:
customers_db = pd.read_sql(sql="customer", con=engine)
customers_db

<div class="alert alert-info" role="alert">

**Task 12:**
    
Write a SQL query that returns the top three articles sold unit-wise and print out the returning DataFrame.

</div>

In [ ]:
# TODO type your solution here

In [ ]:
most_sold_articles = pd.read_sql(
    sql="""SELECT AID, NAME, sum(UNIT) as UNIT
FROM order_position 
JOIN article using(AID)
GROUP BY AID, NAME
ORDER BY UNIT DESC
LIMIT 3;""",
    con=engine,
)
most_sold_articles

<div class="alert alert-info" role="alert">

**Task 13:**
    
Likewise, write a SQL query that returns the top three customers revenue-wise and print out the returning DataFrame.

</div>

In [ ]:
# TODO type your solution here

In case you named your table `order`, keep in mind that this word is a reserved keyword and thus, must be quoted. Alternatively, you can name this table differently like `orders` for instance.

In [ ]:
best_customers = pd.read_sql(
    sql="""SELECT CID, customer.NAME, sum(UNIT * PRICE) as REVENUE
FROM order_position
JOIN 'order' using(OID)
JOIN article using(AID)
JOIN customer using(CID)
GROUP BY CID, customer.NAME
ORDER BY REVENUE DESC
LIMIT 3;""",
    con=engine,
)
best_customers

## 1.2.9. What's More?
Check out the extensive [user guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide) for more functionality.